
  /* content */
  /*
  1- Hero banner style 
  2- Motion 
  3- Search Excersice 
  4- Courses style 
  5- media query */




 /* 1- Hero banner style  */
.banner{
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* align-items: center; */
  margin-top: 70px;

}

.banner-content {
  width: 50%;
  padding: 20px;

}


.banner-title {
  color: var(--baner);
  font-weight: 600;
  font-size: 28px;
  animation: move 0.7s;
 
}
.banner-heading {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 23px;
  margin-top: 30px;
}

.banner-text {
  font-size: 22px;
  font-family: Alegreya;
  line-height: 35px;
}
.banner-button {
  margin-top: 45px;
}
.banner-image {
  width: 40%;
  background: transparent;
}
.hero-banner-img {
  background: transparent;
  width: 470px;
}
.click{
   z-index: 99; 
}

.watermark-text {
  position: relative;
  top: 10%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: var(--baner) ;
  opacity: 0.1;
  font-size: 180px;
}
.banner-content .text-banner{
  margin: 1.5rem;
  font-size: 1.3rem;
}

/* motion  */
@keyframes move {
  0% {scale: 0;}
  60%{scale:1.2;}
  100% {scale: 1;}
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animation{
  opacity: 0; 
  animation: slideInLeft 0.5s forwards;
}


 /* media query */

@media (max-width: 890px ) {

  .banner-content{
    width: 95%;
  
  }
  .banner-image{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .text-banner{
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  .banner-heading{
    font-size: 20px;
  }
  .hero-banner-img {
    width: 300px;
  object-fit: contain;
 
  }
  .hero-banner-img {
    width: 380px;
  }
  .watermark-text {
    font-size: 110px;
    top: 10%;
  }
}


@media (max-width: 820px ) {
  br{
    display: none;
  }

  .hero-banner-img {
    width: 280px;
  }

 
}

@media (max-width:490px) {
  .watermark-text {
    font-size: 70px;
    top: 5%;
  }
  .banner{
    font-size: 12px;
  }
  .hero-banner-img {
    width: 200px;
  }
  .banner-text{
    font-size: 18px;
  }
 
}


@media (min-width:820px) and (max-width:1180px){
 
  .hero-banner-img {
    width: 380px;}
    .banner-image {
      width: 100%;}
  .banner {
        justify-content: flex-start; 
        align-items: flex-start;
       }
}






