.base-form {
  margin-top: 2rem;
  margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	border: 1px solid var(--gray-500);
	border-radius: 15px;
	box-shadow: 0 0 10px var(--primary-500);
}




.choose-gender {
  display: flex;
  align-items: stretch;
  margin-bottom: 2em;
  border: 1px solid var(--primary-500);
  border-radius: 0.5rem;
  width: 90%;
}
.choose-gender .active{
  background-color: var(--primary-500);

}
.segmented-control:first-child {
  border-radius: 0.5em 0 0 0.5em;
} 
.segmented-control:last-child {
  border-radius: 0 0.5em 0.5em 0;
} 
.segmented-control {
  flex: 1;
  text-align: center;
  line-height: 2em;
  border: 1px solid var(--gray-20);
 
}

.segmented-control {
  flex: 1;
  text-align: center;
  line-height: 2em;
  border: 1px solid var(--line-color);
}
 
.segmented-control input[type="radio"] {
  display: none;
}
.segmented-control input[type="radio"] + label {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  color: black;
}
.inputSection{
  width: 90%;
  margin-left: auto;
  margin-bottom: auto;
 
  justify-content: center;
}

.notActive{
  background-color: var(--gray-20);
}
.notActive:hover{
  background-color: inherit;
  color: var(--subtitle);
}
.active{
  background-color: var(--primary-500);
}
.selcet{
  width: 200px;
  height: 3rem;
  text-align: center;
}
.selcet option{
  text-align: center;
}